@if(animes() !== undefined && animes()!.animes.length > 0) {
  @if (animesRating() !== undefined) {
    <app-carousel-hero-highlight
    [data] = "animesRating()!.animes "/>
  }


  @if(favorites() !== undefined && favorites()!.animes.length > 0) {
    <app-carousel-cards
      header = "Favorites"
      link = "/auth/favorites"
      [data] = favorites()!.animes
      [favoriteValidate] = "false"
    />
  }

  <app-grid-cards
  header = "View All"
  link = "/auth/view-all"
  [data] =animes()!.animes
  [favoriteValidate] = "false"
  />

}
