@if(animes$ | async; as data)
{

  <app-carousel-hero-highlight
  [data] = "data.animes"/>


  @if(favorites$ | async; as favorites) {
    <app-carousel-cards
      header = "Favorites"
      link = "/auth/favorites"
      [data] = favorites.animes
      [favoriteValidate] = "false"
      (favoriteEmit)="onFavorite($event , data.animes)" />
  }




  <app-grid-cards
  header = "View All"
  link = "/auth/view-all"
  [data] = data.animes
  [favoriteValidate] = "false"
  (favoriteEmit)="onFavorite($event , data.animes)" />

}
