<form (submit)="onSubmitForm($event)">
  <div class="grid-template">
    <div class="form-group">
      <input type="search" class="form-control" name="search" placeholder="Search for anime" [value]="selectedOptions().search">
    </div>
    <div class="form-group-options">

      @if(genres() !== undefined && genres()!.length > 0){
        <app-input-checkbox-select
          title="Genres"
          [options]="genres()"
          [current]="selectedOptions().genres"
          (output) = "onSelectedGenre($event)"
        />
      }
      <app-input-radio-selected
        title="Favorite State"
        [options]="favorites"
        [current]="selectedOptions().favorite"
        (output) = "onSelectedRadioState($event, 'favorite')"
      />
      <app-input-radio-selected
        title="Watched State"
        [options]="watched"
        [current]="selectedOptions().watched"
        (output) = "onSelectedRadioState($event, 'watched')"
      />
      <app-input-radio-selected
        title="Rating"
        [options]="rating"
        [current]="selectedOptions().rating"
        (output) = "onSelectedRadioState($event, 'rating')"
        name="rating"
      />

      <button type="submit">Search</button>

    </div>
  </div>
</form>

@if(data() !== undefined && data()!.animes.length > 0){
  <div class="element">
    <app-grid-cards
      header = "View All"
      [data] = "data()?.animes || []"
      (favoriteEmit)="onToggleFavorite($event)"
    />
  </div>

  <app-paginator
    [maximumPerPage] = "limit"
    [currentPage] = "currentPage()!"
    [totalItems]="data()?.total || 0"
    (currentPageEvent)="onPageChange($event)"
  />

}
@else {
  <div class="element">
    <span> <p>No animes found!</p></span>
  </div>
}


